<section>
    <div class="container comic-strip">
        <div class="align-items-end d-flex justify-content-between comic-title">

            <h3 class="mb-0">
                Comic Not Found!
            </h3>
        </div>
        <div class="my-4 comic-image">
            <img src="images/404.jpg" width="40%" alt="404 not found">
        </div>
        <a href="https://www.freepik.com/vectors/background">Background vector created by freepik - www.freepik.com</a>
    </div>

</section>